<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dealership</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/djangoapp">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/djangoapp/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/djangoapp/contact">Contact</a>
                  </li>
              </ul>
              {% if not user.is_authenticated %}
              <form action="{% url 'djangoapp:login' %}"  method="post">
                {% csrf_token %}
                <div style="display:flex;gap: 12px;white-space: nowrap;align-items:center;">
                  <input class="form-control" type="text" name="username" placeholder="Account"/>
                  <input class="form-control" type="password" name="password" placeholder="Password"/>
                  <button class="button btn-primary" type="submit">Login</button>
                  <a href="/djangoapp/registration">Sign Up</a>
                </div>
              </form>
              {% endif %}

              {% if user.is_authenticated %}
                <div style="display:flex;gap: 12px;white-space: nowrap;align-items:center;">
                    <span><strong>Username:</strong> {{user.username}}</span>
                    <div><a href="/djangoapp/logout">Sign Out</a></div>
                </div>
              {% endif %}
            </div>
          </nav>
    <!--Add a registration form here -->
      <main class="container" style="max-width: 400px">
        <h1>Sign Up</h1>
        <form method="POST" action="{% url 'djangoapp:registration' %}" class="row g-3" novalidate>
          {% csrf_token %}
          <div class="col-md-12 mb-3">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname" name="first_name" placeholder="Enter first name" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="last_name" placeholder="Enter last name" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>   
      </main>   
    </body>
</html>